@import './globals';
@import './normalize';

body {
    background: $color-bg;
    color: $color-2;
    font-family: $font-bebas;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

    @include media(1240) {
        max-width: calc(100% - 40px);
    }
}


// Home
.home {
    &-container {
        height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        &__card {
            gap: 20px;
            background: $color-bg;
            border-radius: 14px;
            padding: 16px 43px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 49%;
        }

        p {

        }

        h5 {
            font-size: 16px;
            font-weight: 600;
            font-family: $font-inter;
            color: $color-3;

            &:last-child {
                text-align: right;
            }
        }
    }
}
// Home end