@import './globals';
@import './normalize';

body {
    background: $color-bg;
    color: $color-2;
    font-family: $font-bebas-pro;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

    @include media(1240) {
        max-width: calc(100% - 40px);
    }
}

.btn {
    &-blue {
        background: $color-1;
        padding: 18px 33px;
        border-radius: 10px;
        position: relative;
        z-index: 1;
        color: $color-2;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: bold;
        line-height: 140%;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $color-1;
            border-radius: 10px;
            z-index: -1;
            filter: blur(12px);
        }
    }
}

// Header
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    padding: 20px 0;
    
    &-navs {
        display: flex;
        align-items: center;
        gap: 32px;
    }
}
// Header end

// Home
.home {
    position: relative;
    z-index: 1;
    overflow: hidden;

    &-container {
        height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 41px;
        position: relative;
        z-index: 1;
    }

    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        img {
            &:nth-child(1) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: calc(100% + 30px);
                object-fit: cover;
            }

            &:nth-child(2) {
                width: 1080px;
                min-width: 1080px;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(calc(-50% + 47px));
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(27, 27, 29, 0) 66.69%, #1B1B1D 100%);
        }
    }

    &-text {
        position: absolute;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);

        ul {
            display: flex;
            align-items: center;
            gap: 239px;
            font-size: 31px;
            font-weight: 400;
            line-height: 120%;
            color: #EBF1F9;
            text-transform: uppercase;
        }
    }

    &-title {
        font-size: 220px;
        line-height: 110%;
        text-transform: uppercase;
        display: flex;
        align-items: flex-end;
        gap: 16px;

        &__right {
            padding-bottom: 14px;
            line-height: normal;
            display: flex;
            flex-direction: column;

            span {
                &:nth-child(1) {
                    font-size: 60px;
                    line-height: 110%;
                    margin-bottom: -37px;
                    letter-spacing: 33px;
                }

                &:nth-child(2) {
                    font-size: 150px;
                    line-height: 110%;
                }
            }
        }
    }

    &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 36px;
        
        &__card {
            gap: 20px;
            background: $color-bg;
            border-radius: 14px;
            padding: 16px 43px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 49%;
        }

        p {
            font-size: 16px;
            font-weight: 500;
            font-family: $font-inter;
            color: $color-3;
        }

        h4 {
            font-size: 35px;
            font-weight: bold;
            line-height: 110%;
            color: $color-2;
        }

        h5 {
            font-size: 16px;
            font-weight: 600;
            font-family: $font-inter;
            color: $color-3;

            &:last-child {
                text-align: right;
            }
        }
    }
}
// Home end


// Alohida