@import './globals';
@import './normalize';

body {
    background: $color-bg;
    color: $color-2;
    font-family: $font-bebas-pro;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

    @include media(1240) {
        max-width: calc(100% - 40px);
    }
}

.btn {
    &-blue {
        background: $color-1;
        padding: 18px 33px;
        border-radius: 10px;
        position: relative;
        z-index: 1;
        color: $color-2;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: bold;
        line-height: 140%;

        &:hover {
            background: #17569d;
        }

        @include media(993) {
            padding: 16px 33px;
            font-size: 20px;
        }

        @include media(576) {
            width: 100%;
            text-align: center;
            justify-content: center;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $color-1;
            border-radius: 10px;
            z-index: -1;
            filter: blur(12px);
        }
    }

    &-light {
        border: 1px solid white;
        border-radius: 6px;
        padding: 7px 21px;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 17px;
        line-height: 140%;

        &:hover {
            background-color: white;
            color: $color-bg;
        }
    }
}

.section_title {
    font-family: $font-bebas-pro;
    font-size: 74px;
    font-weight: 700;
    line-height: 74px;
    color: $color-2;
    text-transform: uppercase;

    @include media(993) {
        font-size: 45px;
        line-height: 45px;
    }
}

.title_text {
    font-family: $font-inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    color: $color-3;

    @include media(993) {
        font-size: 14px;
        line-height: 19.6px;
    }
}

// Header
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    padding: 20px 0;
    color: #FFF;

    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: $font-oswald;
        text-transform: uppercase;
        font-size: 28px;
        font-weight: 600;
        line-height: 120%;
        color: #FFF;

        img {
            display: none;
        }

        @include media(993) {
            span {
                display: none;
            }

            img {
                display: block;
            }
        }
    }
    
    &-navs {
        display: flex;
        align-items: center;
        gap: 32px;

        @include media(993) {
            display: none;
        }

        a {
            font-size: 17px;
            font-weight: 400;
            line-height: 140%;
            text-transform: uppercase;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    &-right {
        display: flex;
        align-items: center;
        gap: 20px;

        @include media(993) {
            display: none;
        }

        a:not(.btn-light) {
            font-size: 17px;
            font-weight: 400;
            line-height: 140%;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    .bars {
        @include media(-993) {
            display: none;
        }

        img {
            &:nth-child(2) {
                display: none;
            }
        }

        &.active {
            img {
                display: none;

                &:nth-child(2) {
                    display: block;
                }
            }
        }
    }

    .network-icon {
        @include media(-993) {
            display: none;
        }
    }
}
// Header end

// Mobile menu
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: none;

    @include media(993) {
        &.active {
            display: block;
        }
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-bg;
        opacity: 0.7;
    }

    &__content {
        position: relative;
        background: $color-bg;
        padding: 70px 20px 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        ul {
            width: calc(50% - 10px);
            display: flex;
            flex-direction: column;
            gap: 8px;

            a {
                font-size: 17px;
                font-weight: 400;
                line-height: 140%;
                text-transform: uppercase;
            }
        }

        .networks {
            &-wrap {
                width: calc(50% - 10px);
                display: flex;
                flex-direction: column;
                gap: 12px;
            }

            &-item {
                display: flex;
                flex-direction: column;
                gap: 3px;

                p {
                    font-size: 12px;
                    font-family: $font-inter;
                    font-weight: 400;
                    line-height: 120%;
                    color: $color-4;
                }

                a {
                    text-transform: uppercase;
                    font-size: 20px;
                    line-height: 140%;
                }
            }
        }

        .btn-blue {
            width: 100%;
            text-align: center;
            justify-content: center;
        }
    }
}
// Mobile menu end

// Home
.home {
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 120px;

    @include media(993) {
        margin-bottom: 80px;
    }

    &-container {
        height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 41px;
        position: relative;
        z-index: 1;

        @include media(993) {
            height: 716px;
            padding-bottom: 0;
        }
    }

    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        img {
            &:nth-child(1) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: calc(100% + 30px);
                object-fit: cover;
            }

            &:nth-child(2) {
                width: 1080px;
                min-width: 1080px;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(calc(-50% + 47px));
                
                @include media(993) {
                    width: 877px;
                    min-width: 877px;
                    transform: translateX(calc(-50% + 80px));
                }
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(27, 27, 29, 0) 66.69%, #1B1B1D 100%);
        }
    }

    &-text {
        position: absolute;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);

        @include media(993) {
            z-index: -1;
            top: 70px;
        }

        @include media(576) {
            width: 100%;
        }

        ul {
            display: flex;
            align-items: center;
            gap: 239px;
            font-size: 31px;
            font-weight: 400;
            line-height: 120%;
            color: #EBF1F9;
            text-transform: uppercase;

            @include media(993) {
                flex-direction: column;
                align-items: flex-start;
                gap: 0px;
                font-size: 25px;
                margin-top: 44px;

                li {
                    max-width: 185px;
                }
            }
        }
    }

    &-title {
        font-size: 220px;
        line-height: 110%;
        text-transform: uppercase;
        display: flex;
        align-items: flex-end;
        gap: 16px;

        &.mb {
            display: none;
        }

        @include media(993) {
            flex-direction: column;
            gap: 0px;
            align-items: center;
            font-size: 80px;
            line-height: 90%;
            display: none;

            &.mb {
                display: block;
                text-align: center;
            }
        }

        &__right {
            padding-bottom: 14px;
            line-height: normal;
            display: flex;
            flex-direction: column;

            @include media(993) {
                align-items: center;
            }

            span {
                @include media(-993) {
                    &:nth-child(1) {
                        font-size: 60px;
                        line-height: 110%;
                        margin-bottom: -37px;
                        letter-spacing: 33px;
                    }
    
                    &:nth-child(2) {
                        font-size: 150px;
                        line-height: 110%;
                    }
                }
            }
        }
    }

    &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 36px;

        @include media(993) {
            flex-direction: column;
            margin-top: 20px;
        }
        
        &__card {
            gap: 20px;
            background: $color-bg;
            border-radius: 14px;
            padding: 16px 43px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 49%;

            @include media(993) {
                order: 1;
                width: 100%;
                padding: 17px 20px 12px;
                margin-bottom: 18px;
                width: 320px;
            }

            @include media(576) {
                width: 100%;
            }
        }

        p {
            font-size: 16px;
            font-weight: 500;
            font-family: $font-inter;
            color: $color-3;

            @include media(993) {
                font-size: 14px;
                line-height: 140%;
            }

        }
        
        h4 {
            font-size: 35px;
            font-weight: bold;
            line-height: 110%;
            color: $color-2;
            
            @include media(993) {
                font-size: 28px;
            }
        }
        
        h5 {
            font-size: 16px;
            font-weight: 600;
            font-family: $font-inter;
            color: $color-3;
            
            @include media(-993) {
                &:last-child {
                    text-align: right;
                }
            }
            
            @include media(993) {
                order: 2;
                text-align: center;
                width: 100%;
                line-height: 140%;
            }

            @include media(576) {
                width: 100%;
    
                br {
                    display: none;
                }
            }
        }
    }
}
// Home end

// Schedulte
.schedule {
    position: relative;
    z-index: 1;

    @include media(993) {
    }

    &-container {
        padding-top: 116px;
        position: relative;
        z-index: 1;

        @include media(993) {
            padding-top: 30px;
        }
    }

    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 800px;

        @include media(993) {
            height: 376px;
        }

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }
        
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(27, 27, 29, 0.1);
            filter: blur(1.5px);
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: radial-gradient(127.6% 47.81% at 50% 52.19%, rgba(27, 27, 29, 0) 0%, #1B1B1D 100%), rgba(27, 27, 29, 0.4);
        }

        &__card {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 786px;
            object-fit: cover;
            z-index: -1;

            @include media(993) {
                height: 750px;
                width: 517px;
                min-width: 517px;
                object-fit: contain;
                top: 198px;
                left: 50%;
                transform: translateX(calc(-50% - 70px));
            }
        }
    }

    &-head {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 100px;

        @include media(993) {
            flex-direction: column;
            gap: 44px;
            margin-bottom: 230px;
        }

        &__left {
            max-width: 387px;

            @include media(993) {
                max-width: 320px;
            }

            h2 {
                font-size: 74px;
                line-height: 100%;
                text-transform: uppercase;
                margin-bottom: 12px;

                @include media(993) {
                    font-size: 45px;
                    margin-bottom: 14px;
                }
            }

            p {
                color: $color-3;
                font-size: 16px;
                font-weight: 400;
                line-height: 140%;
                font-family: $font-inter;
                margin-bottom: 50px;

                @include media(993) {
                    font-size: 14px;
                    margin-bottom: 30px;
                }
            }
        }

        &__right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 11px;

            @include media(993) {
                align-items: flex-end;
                width: 100%;
                gap: 10px;
            }

            li {
                font-size: 39px;
                line-height: 100%;
                text-transform: uppercase;
                color: $color-2;
                padding-right: 18px;
                position: relative;
                text-align: right;

                @include media(993) {
                    font-size: 30px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: $color-1;
                    right: 0;
                    top: 10px;
                    filter: blur(4px);

                    @include media(993) {
                        top: 7px;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: $color-1;
                    right: 0;
                    top: 10px;

                    @include media(993) {
                        top: 7px;
                    }
                }
            }
        }
    }

    &-card {
        text-align: center;

        &__wrap {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 20px;
            margin-bottom: 60px;

            @include media(993) {
                grid-template-columns: repeat(1, minmax(0, 1fr));
                margin-bottom: 40px;
            }
        }

        .main-img {
            height: 260px;
            width: 100%;
            border-radius: 30px;
            object-fit: cover;

            @include media(993) {
                height: 200px;
            }
        }

        h3 {
            margin: 20px 0 4px;
            text-transform: uppercase;
            font-size: 34px;
            line-height: 110%;

            @include media(993) {
                margin: 18px 0 8px;
                font-size: 30px;
                line-height: 100%;
            }
        }

        p {
            font-size: 14px;
            font-family: $font-inter;
            font-weight: 400;
            line-height: 140%;
            color: $color-4;
        }
    }

    &-list {
        border: 1px solid $color-4;
        border-radius: 30px;
        padding: 40px;

        @include media(993) {
            padding: 30px 20px 20px;
        }

        &__item {
            display: flex;
            align-items: flex-start;
            gap: 20px;
            
            &:not(:last-child) {
                border-bottom: 1px solid $color-4;
                padding-bottom: 32px;
                margin-bottom: 30px;
            }

            @include media(993) {
                flex-direction: column;
                gap: 14px;
            }

            h3 {
                font-size: 39px;
                line-height: 100%;
                text-transform: uppercase;
                width: 347px;
                flex-shrink: 0;

                @include media(993) {
                    font-size: 30px;
                    width: 100%;
                }
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;

                @include media(993) {
                    gap: 14px 20px;
                }
            }
            
            li {
                position: relative;
                font-size: 24px;
                font-weight: 400;
                line-height: 140%;
                position: relative;
                padding-left: 18px;
                text-transform: uppercase;
                
                &::before {
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: $color-1;
                    left: 0;
                    top: 10px;
                    filter: blur(4px);
                }
                
                &::after {
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: $color-1;
                    left: 0;
                    top: 10px;
                }
                
                @include media(-1150) {
                    &:nth-child(3n+1) {
                        width: 183px;
                    }
                    
                    &:nth-child(3n+2) {
                        width: 183px;
                    }
    
                    &:nth-child(3n+3) {
                        width: 232px;
                    }
                }

                @include media(1150) {
                    width: 240px;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 140%;
                    width: calc(50% - 10px);
                }
            }
        }
    }
}
// Schedulte end

// Participate
.participate {
    padding-top: 120px;

    @include media(993) {
        padding-top: 80px;
    }

    &-title {
        font-size: 74px;
        text-transform: uppercase;
        margin-bottom: 60px;
        text-align: center;

        br {
            display: none;
        }

        @include media(993) {
            font-size: 45px;
            line-height: 100%;
            margin-bottom: 40px;

            br {
                display: block;
            }
        }
    }

    .swiper {
        @include media(993) {
            overflow: visible;
        }

        &-slide {
            width: 235px;
        }
    }

    &-card {
        height: 419px;
        position: relative;
        z-index: 1;
        border-radius: 30px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 20px 14px;
        border: 1px solid transparent;

        @include media(993) {
            height: 360px;
        }

        .main-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(21, 21, 23, 0) 21%, #151517 94.39%);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        h4 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 17px;
            font-weight: 400;
            line-height: 140%;
            margin-bottom: 2px;

            span:first-child {
                text-transform: uppercase;
            }

            @include media(993) {
                margin-bottom: 8px;
            }
        }

        h3 {
            font-size: 31px;
            line-height: 110%;
            text-transform: uppercase;

            @include media(993) {
                font-size: 25px;
                line-height: 120%;
            }
        }

        p {
            font-size: 14px;
            font-weight: 400;
            font-family: $font-inter;
            line-height: 140%;
            color: $color-3;
            padding-top: 8px;
            display: none;
        
            @include media(993) {
                padding-top: 6px;
                font-size: 12px;
            }
        }

        &:hover {
            p {
                display: block;
            }
        }
    }

    &-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px auto 0;
        gap: 18px;
        max-width: 590px;

        @include media(993) {
            margin-top: 30px;
            gap: 12px;
        }

        &__content {
            background: $color-5;
            border-radius: 15px;
            padding: 16px 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            @include media(993) {
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 8px;
                padding: 20px;
            }
        }

        h4 {
            font-size: 16px;
            font-weight: 500;
            font-family: $font-inter;
            line-height: 140%;
            color: $color-3;
            text-transform: uppercase;

            @include media(993) {
                font-size: 14px;
            }
        }

        h3 {
            font-size: 34px;
            text-transform: uppercase;
            line-height: 110%;

            @include media(993) {
                font-size: 28px;
            }
        }

        p {
            font-size: 16px;
            font-weight: 500;
            font-family: $font-inter;
            line-height: 140%;
            color: $color-4;

            @include media(993) {
                font-size: 14px;
                text-align: center;
            }
        }
    }
}
// Participate end

// Stage 
.stage {
    padding-top: 120px;

    @include media(993) {
        padding-top: 80px;
    }

    &-container {
        position: relative;
        z-index: 1;
    }

    &-title {
        font-size: 74px;
        line-height: 100%;
        text-transform: uppercase;
        margin-bottom: 8px;
        max-width: 466px;

        @include media(993) {
            font-size: 45px;
            margin-bottom: 20px;
            max-width: 255px;
        }
    }

    &-description {
        max-width: 540px;
        font-size: 14px;
        font-weight: 400;
        font-family: $font-inter;
        color: $color-3;
        margin-bottom: 60px;

        @include media(993) {
            margin-bottom: 40px;
        }
    }

    &-body {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 50px 20px;
        position: relative;

        @include media(993) {
            grid-template-columns: repeat(1, minmax(0, 1fr));
            gap: 30px;
            margin-bottom: 40px;
        }

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            bottom: 14px;
            left: 0;
            width: 100%;
            height: 1px;
            background: $color-4;

            @include media(993) {
                width: 1px;
                height: calc(100% - 10px);
                left: 5px;
                top: 5px;
                bottom: auto;
            }
        }
        
        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            bottom: 14px;
            right: 0;
            width: 1px;
            height: 100%;
            background: $color-4;

            @include media(993) {
                display: none;
            }
        }

        li {
            position: relative;
            z-index: 1;
            padding-bottom: 40px;

            @include media(993) {
                padding: 0 0 0 43px;
            }

            &::before {
                content: "";
                position: absolute;
                height: 1px;
                width: calc(100% + 20px);
                background: $color-4;
                bottom: 14px;
                left: 0;
                z-index: -1;

                @include media(993) {
                    display: none;
                }
            }

            @include media(-993) {
                &:nth-child(4n) {
                    &::before {
                        width: 100%;
                    }
                }
    
                &:nth-child(4) {
                    &::after {
                        content: '';
                        position: absolute;
                        right: -2px;
                        top: -15px;
                        width: 4px;
                        height: 100%;
                        background: $color-bg;
                    }
                }
            }
        }

        h4 {
            font-size: 24px;
            line-height: 110%;
            text-transform: uppercase;
            margin-bottom: 8px;
        }

        p {
            font-family: $font-inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 140%;
            color: $color-3;
        }

        .icon {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: $color-1;
            position: absolute;
            bottom: 5px;
            left: 0;

            @include media(993) {
                top: 5px;
                bottom: auto;
                left: 0;
                width: 11px;
                height: 11px;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background: $color-1;
                filter: blur(9px);
            }
        }
    }

    &-foot {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 90px;
        
        @include media(-993) {
            position: absolute;
            top: 0;
            right: 0;
        }

        @include media(993) {
            align-items: center;
            text-align: center;
            gap: 20px;
        }

        &__top {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 8px;

            @include media(993) {
                padding: 20px;
                border: 1px solid $color-1;
                border-radius: 14px;
                width: 100%;
                align-items: center;
            }

            p {
                font-size: 14px;
                font-family: $font-inter;
                font-weight: 400;
                line-height: 140%;
                color: $color-3;

                @include media(993) {
                    font-weight: 500;
                }
            }

            h4 {
                font-size: 24px;
                line-height: 110%;
                position: relative;
                padding-right: 18px;
                text-transform: uppercase;

                @include media(993) {
                    padding-right: 0;
                    font-size: 28px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: $color-1;
                    right: 0;
                    top: 10px;
                    filter: blur(4px);

                    @include media(993) {
                        display: none;
                    }
                }
                
                &::after {
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: $color-1;
                    right: 0;
                    top: 10px;

                    @include media(993) {
                        display: none;
                    }
                }
            }
        }

        &__bottom {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 8px;

            @include media(993) {
                gap: 6px;
                align-items: center;
            }

            a {
                display: flex;
                align-items: flex-start;
                gap: 6px;
                font-size: 14px;
                font-weight: 400;
                font-family: $font-inter;
                line-height: 140%;
                text-transform: uppercase;
            }
        }
    }
}
// Stage end

// Live
.live {
    padding-top: 60px;

    @include media(993) {
        padding-top: 50px;
    }

    h2 {
        font-size: 39px;
        line-height: 100%;
        text-transform: uppercase;
        max-width: 459px;
        margin-bottom: 14px;

        @include media(993) {
            text-align: center;
            font-size: 30px;
            margin-bottom: 8px;
            max-width: 100%;
        }
    }

    p {
        font-size: 16px;
        font-family: $font-inter;
        line-height: 140%;
        font-weight: 400;
        color: $color-4;
        margin-bottom: 41px;

        @include media(993) {
            font-size: 14px;
            margin-bottom: 0;
            text-align: center;
            width: 100%;
        }
    }

    h3 {
        padding-left: 16px;
        position: relative;
        font-size: 31px;
        font-weight: 400;
        line-height: 120%;
        text-transform: uppercase;

        &.mb {
            display: none;
        }

        @include media(993) {
            display: none;
            width: 100%;
            padding-left: 0;
            text-align: center;
            font-size: 25px;
            font-weight: 400;

            &.mb {
                display: block;
            }
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: $color-1;

            @include media(993) {
                display: none;
            }
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: $color-1;
            filter: blur(4px);

            @include media(993) {
                display: none;
            }
        }
    }

    &-content {
        max-width: 996px;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @include media(993) {
            flex-direction: column;
            gap: 30px;
            align-items: center;
            margin-bottom: 14px;
        }

        &__right {
            width: 386px;
            height: 208px;
            flex-shrink: 0;
            background: $color-5;
            border-radius: 20px;
            border: 1px solid $color-4;
            overflow: hidden;

            @include media(993) {
                width: 100%;
                height: 280px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
// Live end

// program
.program {
    margin-top: 162px;

    @include media(993) {
        margin-top: 50px;
    }

    .section_title {
        @include media(993) {
            text-align: center;
            max-width: 100%;
        }
    }

    .title_text {
        max-width: 417px;
        margin-top: 8px;

        @include media(993) {
            text-align: center;
            max-width: 100%;
        }
    }

    &_title {
        display: flex;
        align-items: start;
        justify-content: space-between;

        @include media(993) {
            flex-direction: column;
            gap: 20px;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 14px;

            @include media(993) {
                width: 100%;
                justify-content: end;
            }
        }

        li {
            padding-right: 22px;
            position: relative;
            text-align: right;
            font-family: $font-bebas-pro;
            font-size: 24px;
            font-weight: 400;
            line-height: 26.4px;
            text-transform: uppercase;
            color: $color-2;

            @include media(993) {
                font-size: 20px;
                text-align: left;
                padding-left: 22px;
                padding-right: 0;
            }

            &::before {
                content: "";
                position: absolute;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: $color-1;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                filter: blur(4px);

                @include media(993) {
                    right: auto;
                    left: 0;
                }
            }

            &::after {
                content: "";
                position: absolute;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: $color-1;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;

                @include media(993) {
                    right: auto;
                    left: 0;
                }
            }
        }
    }

    &_slider {
        h3 {
            font-family: $font-bebas-pro;
            font-size: 34px;
            font-weight: 700;
            line-height: 37.4px;
            text-align: left;
            color: $color-2;
            text-transform: uppercase;
            margin: 40px 0 30px 0;

            @include media(993) {
                margin: 30px 0;
                font-size: 24px;
                line-height: 26.4px;
                text-align: center;
            }
        }

        .programSwiper {
            @include media(576) {
                overflow: visible;
            }

            .program_user {
                width: 100%;

                &_img {
                    border-radius: 20px;
                    border: 1px solid $color-4;
                    height: 320px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                h6 {
                    font-family: $font-bebas-pro;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 26.4px;
                    text-align: center;
                    color: $color-2;
                    margin: 20px 0 12px 0;
                    text-transform: uppercase;

                    @include media(993) {
                        margin: 15px 0 10px 0;
                    }
                }

                span {
                    display: block;
                    font-family: $font-inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 22.4px;
                    text-align: center;
                    color: $color-4;
                }
            }
        }
    }
}
// program

// award
.award {
    margin-top: 120px;
    padding: 80px 0;
    background-image: url('../images/award_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include media(993) {
        padding: 30px 0;
        margin-top: 80px;
    }

    .title_text {
        margin-top: 30px;

        @include media(993) {
            margin-top: 20px;
        }

        br {
            @include media(993) {
                display: none;
            }
        }
    }

    .section_title {
        br {
            @include media(993) {
                display: none;
            }

            @include media(576) {
                display: block;
            }
        }
    }

    .btn-blue {
        margin-top: 21px;
        padding: 18px 84px;

        @include media(993) {
            font-size: 20px;
            line-height: 28px;
            padding: 16px;
            width: 100%;
            text-align: center;
        }
    }

    &_title_block {
        border: 1px solid $color-1;
        border-radius: 14px;
        background: $color-bg;
        padding: 16px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            font-family: $font-inter;
            font-size: 16px;
            font-weight: 500;
            line-height: 22.4px;
            color: $color-3;

            @include media(993) {
                font-size: 14px;
                line-height: 19.6px;
            }
        }

        h6 {
            font-family: $font-bebas-pro;
            font-size: 34px;
            font-weight: 700;
            line-height: 37.4px;
            color: $color-2;

            @include media(993) {
                font-size: 28px;
                line-height: 30px;
            }
        }
    }

    &_title_right {
        @include media(993) {
            width: 100%;
        }
    }

    &_title {
        display: flex;
        align-items: end;
        justify-content: space-between;
        margin-bottom: 65px;
        gap: 30px;

        @include media(993) {
            flex-direction: column;
            align-items: start;
        }
    }

    &_cards {
        display: grid;
        align-items: end;
        gap: 21px;
        grid-template-columns: repeat(3,1fr);

        @include media(993) {
            grid-template-columns: repeat(1,1fr);
        }
    }

    &_card {
        border-radius: 30px;
        background: $color-5;
        padding: 30px 20px 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include media(993) {
            padding: 20px;
        }

        &.one_card {
            @include media(993) {
                order: 1;
            }
        }

        &.two_card {
            @include media(993) {
                order: 2;
            }
        }

        &.three_card {
            @include media(993) {
                order: 3;
            }
        }

        .award_icon {
            flex-shrink: 0;
            margin: 30px 0;

            @include media(993) {
                width: 162px;
                height: 162px;
                margin: 10px 0;
            }
        }

        .one_award {
            width: 228px;
            height: 228px;

            @include media(993) {
                width: 162px;
                height: 162px;
            }
        }

        .two_award {
            width: 160px;
            height: 160px;

            @include media(993) {
                width: 162px;
                height: 162px;
            }
        }

        .three_award {
            width: 126px;
            height: 126px;
            margin: 25px 0;

            @include media(993) {
                width: 162px;
                height: 162px;
            }
        }

        h6 {
            font-family: $font-bebas-pro;
            font-size: 39px;
            font-weight: 700;
            line-height: 39px;
            text-align: center;
            color: $color-2;
            text-transform: uppercase;

            @include media(993) {
                font-size: 30px;
                line-height: 30px;
            }
        }

        span {
            font-family: $font-inter;
            font-size: 16px;
            font-weight: 500;
            line-height: 22.4px;
            text-align: center;
            color: $color-3;
        }

        h5 {
            font-family: $font-bebas-pro;
            font-size: 31px;
            font-weight: 700;
            line-height: 34.1px;
            text-align: center;
            margin-top: 6px;
            color: $color-2;

            @include media(993) {
                font-size: 30px;
                line-height: 30px;
            }
        }
    }

    &_cards_bottom {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;

        @include media(993) {
            text-align: center;
            grid-template-columns: repeat(1,1fr);
        }
    }

    &_cards_text {
        padding: 20px 40px;
        border-radius: 20px;
        background: $color-5;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media(993) {
            padding: 20px;
            flex-direction: column;
            gap: 16px;
        }

        span {
            font-family: $font-inter;
            font-size: 16px;
            font-weight: 500;
            line-height: 22.4px;
            color: $color-3;
            text-transform: uppercase;
            display: block;
        }

        h6 {
            font-family: $font-bebas-pro;
            font-size: 31px;
            font-weight: 700;
            line-height: 37.2px;
            color: white;
            text-transform: uppercase;
        }

        h5 {
            text-align: center;
            font-family: $font-bebas-pro;
            font-size: 31px;
            font-weight: 700;
            line-height: 37.2px;
            color: $color-2;
        }
    }
}
// award

// partner
.partner {
    margin-top: 120px;

    @include media(993) {
        margin-top: 80px;
    }

    .container {
        display: flex;
        align-items: end;

        @include media(993) {
            flex-direction: column;
            gap: 30px;
            align-items: start;
        }
    }

    &_title {
        max-width: 390px;
        flex-shrink: 0;
    }

    .section_title {
        margin-bottom: 8px;

        @include media(993) {
            margin-bottom: 20px;
        }
    }

    .partner_logo {
        width: 100%;
        border: 1px solid $color-4;
        border-radius: 20px;
        height: 114px;

        @include media(993) {
            height: 80px;
        }
    }

    &_slider {
        max-width: 793px;
        position: relative;

        @include media(993) {
            max-width: 100%;
        }

        .partnerSwiper {
            @include media(993) {
                overflow: visible;
            }
        }

        &::before {
            width: 20%;
            content: '';
            position: absolute;
            height: 100%;
            left: 0;
            top: -3px;
            z-index: 3;
            background: linear-gradient(90deg, #1B1B1D 12.11%, rgba(27, 27, 29, 0) 19.86%);

            @include media(993) {
                left: -20px;
                width: 30%;
            }
        }

        &::after {
            width: 20%;
            content: '';
            position: absolute;
            height: 100%;
            right: 0;
            top: -3px;
            z-index: 3;
            background: linear-gradient(270deg, #1B1B1D 12.11%, rgba(27, 27, 29, 0) 19.98%);

            @include media(993) {
                right: -20px;
                width: 30%;
            }
        }
    }
}
// partner

// footer
.footer {
    margin: 60px 0 43px 0;

    @include media(993) {
        margin: 40px 0 30px 0;
    }

    &_in {
        border-radius: 30px;
        background: $color-5;
        padding: 40px;
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 20px;

        @include media(993) {
            padding: 30px 100px;
            flex-direction: column;
            align-items: center;
        }

        @include media(768) {
            padding: 30px 20px;
        }
    }

    .logo {
        width: 90px;
        flex-shrink: 0;

        img {
            width: 100%;
        }

        @include media(993) {
            width: 65px;
        }
    }

    &_left {
        display: flex;
        align-items: start;
        gap: 73px;

        @include media(993) {
            gap: 85px;
            justify-content: space-between;
            width: 100%;
        }
    }

    &_link {
        display: flex;
        flex-direction: column;
        gap: 8px;

        a {
            font-family: $font-bebas-pro;
            font-size: 17px;
            font-weight: 400;
            line-height: 23.8px;
            color: $color-2;
            text-transform: uppercase;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    &_center {
        display: flex;
        align-items: start;
        gap: 75px;

        @include media(993) {
            width: 100%;
            gap: 42px;
            justify-content: space-between;
        }
    }

    .btn-blue {
        padding: 18px 45px;

        @include media(993) {
            padding: 11px;
            width: 100%;
            text-align: center;
            font-size: 20px;
            line-height: 28px;
        }
    }

    &_contact {
        display: flex;
        flex-direction: column;
        gap: 10px;

        span {
            display: block;
            font-family: $font-inter;
            font-size: 12px;
            font-weight: 400;
            line-height: 14.4px;
            color: $color-4;
        }

        a {
            font-family: $font-bebas-pro;
            font-size: 24px;
            font-weight: 700;
            line-height: 33.6px;
            color: $color-2;

            &:hover {
                opacity: 0.7;
            }

            @include media(993) {
                font-size: 20px;
                line-height: 28px;
            }
        }
    }
}
// footer
